#about-page {



  ion-toolbar {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;

    --background: transparent;
    --color: white;
  }

  ion-toolbar ion-back-button,
  ion-toolbar ion-button,
  ion-toolbar ion-menu-button {
    --color: white;
  }

  .about-header {
    position: relative;
    background: #121FF9;
    width: 100%;
  }

  .about-image {
    width: 100%;
  }

  //.about-header .about-image {
  //  position: absolute;
  //
  //  top: 0;
  //  left: 0;
  //  bottom: 0;
  //  right: 0;
  //
  //  background-position: center;
  //  background-size: cover;
  //  background-repeat: no-repeat;
  //
  //  opacity: 0;
  //
  //  transition: opacity 500ms ease-in-out;
  //}
  //
  //.about-header .madison {
  //  width: 100%;
  //
  //  background-image: url("../../img/create_bg.png");
  //}

  .about-info {
    position: absolute;
    width: 100%;
    margin-top: -25px;
    border-radius: 20px;
    background: var(--ion-background-color, #fff);
  }

}