
#about-page ion-toolbar {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;

    --background: transparent;
    --color: white;
}



ion-toolbar ion-back-button,
ion-toolbar ion-button,
ion-toolbar ion-menu-button {
    --color: white;
}

#date-input-popover {
    --offset-y: -var(--ion-safe-area-bottom);

    --max-width: 90%;
    --width: 336px;
}