body {
    font-size: 14px;
}

.icon-circle {
    border-radius: 200px;
}

.new-role {
    width: 100%;
    position: relative;
    /*background: url(./img/role_bg.png) no-repeat;*/
    background-size:100%;

}

.p-50 {
    width: 50px;
}

.p-120 {
    width: 120px;
    height: 120px;
}

.text-16 {
    font-size: 16px;
}

.mr-15{
    margin-right: 15px;
}

.wh-86 {
    width: 86px;
    height: 86px;
}

.secondary-color {
    font-weight: bold;
    color: #b6bc00;
}

.header-title {
    font-weight: bold;
}

.common-title {
    font-size: 16px;
    font-weight: bold;
}

.full-width {
    width: 100%;
}

.common-button {
    background: #F8616C;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    height: 38px;
}

.common-black-button {
    background: #000;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    height: 40px;
}

.cursor {
    cursor: pointer;
}

.popover {
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
}

.cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.margin-16 {
    margin-left: 16px;
    margin-right: 16px;
}

.select {
    height: 20px;
    width: 103px;
    line-height: 20px;
    text-align: center;
    background: #FFFFFF;
    border: 0.5px solid #E9ECEE;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07), 0px 2px 1px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
}

.input {
    background: #F1F3F5;
    width: 100%;
    font-size: 14px;
    padding: 0px 20px;
    word-break: break-all;
    border: 1px solid #fff;
    border-radius: 40px;
    color: #000;
}

input {
    resize:none;
}

input::-webkit-input-placeholder {
    color: #f4f4f4;
}

input::placeholder {
    color: #f4f4f4;
}

/*.common-input {*/
    /*--placeholder-color: #C4C4C4;*/
    /*--placeholder-opacity: 1;*/
/*}*/

.common-input {
    resize:none;
    background: none;
    border: none;

    outline: none;
    width: 100%;
    padding: 10px 0;
}

.right-button{
    padding: 0 15px;
    color: white;
    line-height: 24px;
    background: #0620F9;
    border-radius: 45px;
    height: 24px;
}

.primary-color{
    color: #0620F9;
}

.text-center {
    text-align: center;
}


.popup-content {
    margin: auto;
    background: #fff;
    width: 286px;
    font-size: 16px;
    color:#000;
    border-radius: 8px;
}

[role=tooltip].popup-content {
    width: 200px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .16);
    border-radius: 5px
}

.popup-overlay {
    background: rgba(0, 0, 0, .5)
}

[data-popup=tooltip].popup-overlay {
    background: transparent
}

.popup-arrow {
    -webkit-filter: drop-shadow(0 -3px 3px rgba(0, 0, 0, .16));
    filter: drop-shadow(0 -3px 3px rgba(0, 0, 0, .16));
    color: #fff;
    stroke-width: 2px;
    stroke: #d7d7d7;
    stroke-dasharray: 30px;
    stroke-dashoffset: -54px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.right-top{
    position: absolute;
    top: -34px;
    right: 0;
}

.text-area{
    width: 100%;

    min-height: 24px;

    max-height: 300px;

    _height: 120px;

    margin-left: auto;

    margin-right: auto;

    outline: 0;

    border: none;

    font-size: 14px;

    line-height: 24px;

    word-wrap: break-word;

    overflow-x: hidden;

    overflow-y: auto;

}


.un-select {
    height: 20px;
    line-height: 20px;
    width: 103px;
    text-align: center;
}

.radius-6 {
    border-radius: 6px;
}

.rc-editable-input-30 {
    background: red;
    color: #5d58e0;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.blur {
    /*background:rgba(0,0,0,0.1);*/
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.create-title {
    font-size: 16px;
    color: #000;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

